/* AdminProduct.css */

/* Container styling */
.Adminproduct {
    background-color: #f3f4f6; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}

/* Form styling */
.Adminproduct form {
    display: flex;
    flex-direction: column;
}

/* Input field styling */
.Adminproduct input[type="text"],
.Adminproduct input[type="number"],
.Adminproduct textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Button styling */
.Adminproduct button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Adminproduct button:hover {
    background-color: #2980b9;
}
