/* Header */
.headerContainer {
    background-color: #e8f3ed; /* สีพื้นหลัง */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* เงา */
  }
  
  .brand {
    color: #333333; /* สีข้อความ */
    font-weight: bold; /* ตัวหนา */
  }

  .Tessl{
    background-color: #e8f3ed;
  }


/* product */
  